name: Deploy container images and manifests

# Only run this workflow when the YAML file itself changes or files change in the "common" or "images" folders
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/deploy.yml"
      - "common/**"
      - "images/**"

jobs:
  
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      deployments: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and push container images
        run: ./build.sh --push-images --live-manifests
      
      - name: Upload manifests to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_WORKERS_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.51.0"
          workingDirectory: manifests
